@media (max-width: 768px) {
	.box .video-box{
		height: 260px;	
	}
}

@media (min-width: 769px) {
	.box .video-box{
		height: 230px;	
	}
}

@media (max-width: 480px) {
	.modal-title{
		font-size: 12px;	
	}
}

.box{
	position: relative;
	float: left;
	padding: 5px;
}

.box .video-box{
	position: relative;
	float: left;
	margin-left: 10px;
	background-color: #f8fafc;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	border: 1px solid #e3e3e3;
	margin-bottom: 15px;
	cursor: pointer;
}

.box .video-box img{
	width: 100%;
	margin-bottom: 8px;
}

.box .video-box span{
	font-family: serif;
	font-weight: bold;
	color: #3490dc;
}

.box .video-box .duracao{
	position: absolute;
	display: flex;
	bottom: 5px;
	font-style: italic;
	color: #3490dc;
}

.modal-body video{
    max-width: 100%;
}